[submodule "src/hibera"]
	path = src/hibera
	url = git@github.com:amscanne/hibera
[submodule "python"]
	path = python
	url = git@github.com:amscanne/python-hibera
[submodule "src/python"]
	path = src/python
	url = git@github.com:amscanne/python-hibera
